@use "normalize.scss";
@use "layout.scss";
@use "app.scss";
@use "list.scss";
@use "home.scss";
@use "preview.scss";


video {
    border: none;
}

iframe {
    border: none;
}

button {
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #eee;
}

