@use "normalize.scss";
@use "layout.scss";
@use "app.scss";
@use "list.scss";





a:hover {
    text-decoration: none;
}

button {
    margin: 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #eee;
}

.preview {
    padding: 0px 5px;
}



.home_item {
    display: block;
    padding: 5px 10px;
}