{{define "app"}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/pragox.css" rel="stylesheet">
  <script src="/pragox.js"></script>

</head>
<body data-home="{{.base_dir}}" data-app-id="{{.app_id}}" data-app-name="{{.app_name}}" data-app="{{.app_data}}"></body>
</html>
{{end}}